.box-result {
  background-color: blueviolet;
  color: white;
  width: 45%;
  margin: 20px auto;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 6px rgb(83, 7, 83);
}