.box-result {
  background-color: rgb(226, 168, 43);
  color: rgb(19, 11, 11);
  width: 45%;
  min-height:60px;
  margin: 20px auto;
  font-size: 30px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 6px rgb(83, 7, 83);
}